@model string
@{
    ViewData["Title"] = "Home Page";
}

<table id="currenciesTable" class="table table-hover">
    <tbody></tbody>
</table>

<script src='https://code.responsivevoice.org/responsivevoice.js'></script>
<script language="javascript" type="text/javascript" src="js/websockets.js"></script>

<script language="javascript" type="text/javascript">
    $(function () {
        
        appendItems(table, '@Model'.replace(/&quot;/g, '"'));
    });
</script>