@model string
@{
    ViewData["Title"] = "Home Page";
}


<button class="btn btn-default" onclick="Reset()">Сброс</button>

<table id="currenciesTable" class="table table-hover">
    <tbody></tbody>
</table>

<script language="javascript" type="text/javascript" src="js/websockets.js"></script>

<script language="javascript" type="text/javascript">
    $(function() {
        appendItems(table, '@Model');
    });
</script>