<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Настройки</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- export interface ChangeSettings {
    periodSeconds: number;
    percentage: number;
    resetHours: number;
    multipleChanges: boolean;
    multiplechangesSpanMinutes: number;
    marginPercentage: number;
    marginCurrencies: string[];
  } -->

  <div class="modal-body">
    <div class="container">
      <form>
        <div class="form-group row">
          <label for="percentage" class="col-sm-6 col-form-label">Изменение, %</label>
          <div class="col-sm-6">
            <input type="number" name="percentage" class="form-control" id="percentage" [(ngModel)]="settings.percentage">
          </div>
        </div>

        <div class="form-group row">
          <label for="period" class="col-sm-6 col-form-label">Период, сек</label>
          <div class="col-sm-6">
            <input type="number" name="period" class="form-control" id="period" [(ngModel)]="settings.periodSeconds">
          </div>
        </div>

        <div class="form-group row">
          <label for="resetHours" class="col-sm-6 col-form-label">Сброс, часов</label>
          <div class="col-sm-6">
            <input type="number" name="resetHours" class="form-control" id="resetHours" [(ngModel)]="settings.resetHours">
          </div>
        </div>

        <hr/>

        <div class="form-group row">
          <label class="col-sm-6">Несколько изменений</label>
          <div class="col-sm-6">
            <div class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" name="multipleChanges"
                 type="checkbox" [(ngModel)]="settings.multipleChanges">
              </label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="multiplechangesSpanMinutes" class="col-sm-6 col-form-label">... за время, мин</label>
          <div class="col-sm-6">
            <input type="number" name="multipleChangesSpanMinutes"
             class="form-control" id="multipleChangesSpanMinutes" [(ngModel)]="settings.multipleChangesSpanMinutes">
          </div>
        </div>
        <hr/>        
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c(false)">Закрыть</button>
    <button type="button" class="btn btn-primary" (click)="c(true)">Сохранить</button>
  </div>
</ng-template>

<div class="changes">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-6 col-md-2">
          <div *ngIf="source === 1">
            <img src="../../assets/images/bittrexIcon.png" class="block-icon float-left" />
          </div>
          <div *ngIf="source === 2">
            <img src="../../assets/images/poloniexIcon.png" class="block-icon float-left" />
          </div>
        </div>
        <div class="hidden-sm-down col-md-6">Изменение за время

        </div>
        <div class="col-6 col-md-4">
          <span class="pull-right">
            <a href="#" (click)="openModal(content)" title="Настройки">
              <i class="fa fa-cog fa-lg"></i> 
            </a>                
            <a href="#" (click)="reset()" title="Сброс">
              <i class="fa fa-trash fa-lg"></i> 
            </a>     
          </span>
        </div>
      </div>
    </div>
    <div class="card-block app-block">
      <table class="table table-hover">
        <tbody>
          <tr *ngFor="let change of changes" [ngClass]="{'recently-changed': change.recentlyChanged}">

            <td *ngIf="change.currency">{{change.currency}}</td>
            <td *ngIf="change.currency">{{change.percentage | number:'1.0-1'}}%</td>

            <td *ngIf="!change.currency" colspan="2"> {{change.message}}</td>

            <td>{{change.time | date:'HH:mm:ss'}}</td>
          </tr>
          <tr *ngIf="message">{{message}}</tr>
        </tbody>
      </table>

      <div #bottom></div>
    </div>
  </div>
</div>
