<div class="container">
  <span>
    <a href="">Главная</a> |
    <a href="logout">Выход</a>
  </span>
  <div class="row justify-content-center">
    <div class="col-md-4">
      <h2>{{userInfo.email}}</h2>

      <form>
        <div class="form-group">

          <div class="form-group">
            <label>Текущий пароль</label>
            <input name="oldPassword" type="password" class="form-control" required [(ngModel)]="oldPassword">
          </div>

          <div class="form-group">
            <label>Новый пароль</label>
            <input name="confirmPassword" type="password" class="form-control" required [(ngModel)]="newPassword">
          </div>

          <div class="form-group">
            <label>Повторите пароль</label>
            <input name="repeatPassword" type="password" class="form-control" required [(ngModel)]="confirmNewPassword">
          </div>

          <div class="row">
            <div class="col-6">
              <button class="btn btn-primary btn-block" type="submit" (click)="changePassword()">Изменить пароль</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
