/* You can add global styles to this file, and also import other style files */

.changes-block-height {
  height: calc(60vh - 2rem - 2 * 1.5rem - 1rem);
}

.price-block-height {
  height: calc(40vh - 2rem - 2 * 1.5rem - 1rem);
}

/* .reduced-price-block-height {
  height: calc(40vh - 2rem - 2.5em - 2 * 1.5rem);
} */

.notices-block-height {
  height: calc(2 * 1.5rem);
}

.stats-block-size {
  height: calc(48vh - 2rem - 1rem - 1rem);
}

.app-block {
  padding: 0;
}

.scroll-block {
  overflow-y: scroll;
  padding: 0;
}

.block-icon {
  max-width: 24px;
  width: 100%;
  height: auto;
}

.checkbox-empty label {
  display: inline
}

.recently-changed {
  background: rgba(50, 205, 50, 0.23)
}

.popover {
  /* max-width: 100% !important; Max Width of the popover (depending on the container!) */
  min-width: 20em !important;
}
