/* You can add global styles to this file, and also import other style files */

.app-block {
  height: calc(50vh - 40px);
  overflow-y: scroll;
  padding: 0;
}

.block-icon {
  max-width: 24px;
  width: 100%;
  height: auto;
}

.recently-changed {
  background: rgba(50, 205, 50, 0.23)
}
