/* You can add global styles to this file, and also import other style files */

.changes-block-height {
  height: calc(50vh - 33px);  
}

.price-block-height {
  height: calc(40vh - 33px);  
}

.scroll-block{
  overflow-y: scroll;
  padding: 0;
}

.block-icon {
  max-width: 24px;
  width: 100%;
  height: auto;
}

.recently-changed {
  background: rgba(50, 205, 50, 0.23)
}

.popover{
  /* max-width: 100% !important; Max Width of the popover (depending on the container!) */
  min-width: 20em !important;
}