<div class="container block-container">
  <div class="row">
    <div class="col-md-6 px-1">
      <app-reminder></app-reminder>
    </div>
    <div class="col-md-6 px-1">
      <div class="card">
        <div class="card-body py-1">
          <span class="1align-middle">
            <a href="stats" target="_blank">Статистика</a> |
            <a href="logout">Выход</a>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 p-1">
      <app-changes [source]="1"></app-changes>
    </div>

    <div class="col-md-6 p-1">
      <app-changes [source]="2"></app-changes>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6 p-1">
      <app-price [source]="1"></app-price>
    </div>
    <div class="col-md-6 p-1">
      <app-price [source]="2"></app-price>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 px-1">
      <app-notices></app-notices>
    </div>
  </div>
</div>
