
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Настройки</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="container">
        <form>
          <div class="form-group row">
            <label for="period" class="col-sm-6 col-form-label">Период, сек</label>
            <div class="col-sm-6">
              <input type="number" name="period" class="form-control" id="period" [(ngModel)]="settings.period">
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="c(false)">Закрыть</button>
      <button type="button" class="btn btn-primary" (click)="c(true)">Сохранить</button>
    </div>
  </ng-template>

  <div class="card">
    <div class="card-body py-1">
      <div>
        <label class="my-0">
          <i class="fa fa-clock-o fa-lg"></i>
          <span *ngIf="lastUpdate">{{lastUpdate | date:'HH:mm:ss'}}</span>
        </label>
        <span class="pull-right">
          <label class="form-check form-check-inline my-0">
            <input class="form-check-input" name="soundEnabled"
             type="checkbox" [(ngModel)]="soundEnabled">
              <label class="form-check-label my-0"><i class="fa fa-volume-up"></i></label>
          </label>

          <a href="javascript:void(0)" (click)="openModal(content)" title="Настройки" class="mx-1">
            <i class="fa fa-cog fa-lg"></i>
          </a>
        </span>
      </div>
    </div>
  </div>
